{{#if removedUser}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Personnel user has been removed.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}


<div class="row  mb-4">
    <div class="col-6"><h2>Personnel</h2></div>
    <div class="col-6 d-flex justify-content-end">
      <a id="add" href="/add-personnel" type="button" class="btn btn-primary align-self-center">+ Add User</a>
    </div>
</div>


<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Telephone</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.telephone}}</td>
        <td class="text-end">
          <a href="/view-personnel/{{this.id}}" type="button" class="btn btn-light btn-small view"><i class="bi bi-eye"></i> View</a>
          <a href="/edit-personnel/{{this.id}}" type="button" class="btn btn-light btn-small edit"><i class="bi bi-pencil"></i> Edit</a>
          <a href="#" data-href="/{{this.id}}" type="button" class="btn btn-light btn-small delete"><i class="bi bi-person-x"></i> Delete</a>
      </td>
    </tr>
    {{/each}}


  </tbody>
</table>

<script>
    // localStorage configuration for "userID" & "token" data objects for login session for user account.
    let token = localStorage.getItem("token");
    let userID = localStorage.getItem("userID");

    let addPageElement = document.getElementById("add");
    let urlAddPage = addPageElement.getAttribute("href");
    addPageElement.setAttribute("href", urlAddPage + "?token=" + token + "&userID=" + userID);

    let viewElements = document.getElementsByClassName("view");
    for(let i = 0; i < viewElements.length; i++) {
      let element = viewElements[i];
      let url = element.getAttribute("href");
      element.setAttribute("href", url + "?token=" + token + "&userID=" + userID);
    }

    let editElements = document.getElementsByClassName("edit");
    for(let i = 0; i < editElements.length; i++) {
      let element = editElements[i];
      let url = element.getAttribute("href");
      element.setAttribute("href", url + "?token=" + token + "&userID=" + userID);
    }

    let deleteElements = document.getElementsByClassName("delete");
    for(let i = 0; i < deleteElements.length; i++) {
      let element = deleteElements[i];
      let href = element.getAttribute("data-href");
      let url = href + "?token=" + token + "&userID=" + userID;

      // event listner being added to delete personnel record buton: will trigger window to reload.
      // XMLHttpRequest set to reload so it doesn't clash with delete personnel API end point request.
      element.addEventListener("click", () => {
        let xhr = new XMLHttpRequest();

      xhr.addEventListener("readystatechange", () => {
        if(xhr.readyState === XMLHttpRequest.DONE) {
          window.location.reload();
        }
      });

      xhr.open("GET", url, true);
      xhr.send();
    });
  }
</script>