<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a id="home-table" href="/home-table">Home Table</a></li>
    <li class="breadcrumb-item active" aria-current="page">View User</li>
  </ol>
</nav>

<div class="view-user p-5">
    {{#each rows}}
        <div class="row mb-5">
            <div class="col text-center">
            <h3>{{this.first_name}} {{this.last_name}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telephone</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{this.first_name}}</th>
                    <td>{{this.last_name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.telephone}}</td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="row">
            <div class="col" id="comments-title">
                <b>Comments</b>
            </div>
            </div>
            <div class="row">
            <div class="col" id="comments-view">
                {{this.comments}}
            </div>
            </div>
        </div>
    {{/each}}
</div>

<script>
    // localStorage configuration for "userID" & "token" data objects for login session for user account.
    let token = localStorage.getItem("token");
    let userID = localStorage.getItem("userID");

    let homeTablePageElement = document.getElementById("home-table");
    let urlHomeTablePage = homeTablePageElement.getAttribute("href");
    homeTablePageElement.setAttribute("href", urlHomeTablePage + "?token=" + token + "&userID=" + userID);
</script>